<h1>Welcome to My Simple Angular Page</h1>
<form>
    <h2>Enter Your details for register</h2>
    <label for="firstName">FirstName: </label>
    <input type="text" name="firstName" placeholder="Enter Your FirstName">
    <br> <br>
    <label for="lastName">LastName: </label>
    <input type="text" name="lasttName" placeholder="Enter Your lasttName">
    <br> <br>
    <label for="mail">Email: </label>
    <input type="text" name="mail" placeholder="Enter Your Email-id">
    <br> <br>
    <label for="add">Address: </label>
    <input type="text" name="add" placeholder="Enter Your Permanent Address">
    <br> <br>
    <label for="city">City: </label>
    <input type="text" name="city" placeholder="Enter Your City">
    <br> <br>
    <label for="info">Other Information: </label>
    <br> <br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br>
    <button>Submit</button>
  </form>